<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="GOOGLE_CLIENT_ID" value="968912013359-k3dlkhtuml6thouv2clttujfnt15ie45.apps.googleusercontent.com"/>
        <env name="GOOGLE_CLIENT_SECRET" value="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"/>
        <env name="GOOGLE_REDIRECT_URL" value="http://localhost:3000/login"/>
        <env name="DEVELOP_TOKEN" value="-2SU77PyP4gk0kuAjZxxBQ"/>
        <env name="LOGIN_CUSTOMER_ID" value="7049183756"/>
        <env name="ACCOUNT_ID" value="9513370025"/>
    </php>
</phpunit>
